/*styling to change subforums to list */
#bbpress-forums 
.bbp-forums-list li {
    display: list-item !important;
}

div.bbp-breadcrumb {
    display: none; /*this will hide all breadcrumbs*/
    }
     
   .truebreadcrumbs div.bbp-breadcrumb {
    display: block; /*this will display breadcrumbs you've created*/
    }